Flask
flask-cors
python-dotenv
Werkzeug
PyMuPDF  # fitz
beautifulsoup4
duckduckgo-search
backoff
requests
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
python-docx
